{% extends "base.html" %}
{% from "macros.html" import render_field %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="container">
  <h1>User Log In</h1>
  <form action="{{ url_for('user.login') }}" method="post" name="login">
      {{ form.csrf_token }}
      {{ render_field(form.id, class="form-control", placeholder="ID") }}
      {{ render_field(form.password, class="form-control", placeholder="Password") }}
      <input type="submit" class="btn btn-primary btn-block" value="Login"/>

  </form>
</div>
{% endblock %}